body {
    text-align: center;
}

h1 {
    color: blue;
}

.game-status {
    justify-content: space-between;
    /* Adjust as needed */
    align-items: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(243, 14, 14);
}

.flags-left {
    margin-right: 85px;

}

.restart {
    margin-right: 85px;
    font-size: 30px;
    border: none;
}

.timer {
    margin-right: 20px;

}


.diff-level button {
    padding: 10px;
    background-color: #ffffff;
    color: #3235de;
    border: 1px solid #2980b9;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.diff-level button.clicked {
    background-color: #3235de;
    color: #ffffff;

}


table {
    width: auto;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid purple;
    height: 60px;
    text-align: center;
    min-width: 60px;
}


.img {
    width: 40px;
}