body {
 
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: cover;

}

h1 {
    color: rgb(224, 224, 224);
    font-size: 80px;
    font-family: 'Rubik Doodle Shadow';
    margin-bottom: 10px;
}

.diff-level button {
    padding: 10px;
    background-color: transparent;
    color: #d6d6d6;
    border: 2px solid #d6d6d6;;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
    font-family: 'Concert One'
}

.diff-level button.clicked {
    background-color: rgb(222, 196, 31);
    color: #ffffff;
  

}


.game-status {
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Concert One';
    display: inline-block;
    font-weight: bold;
     color: #d6d6d6; /* Text color */
     -webkit-text-stroke: 2px rgb(39, 39, 39); 
}

.lives {
    margin-right: 35px;
}


button[data-diff="restart"]  {

    text-align: center;
    font-size: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 35px;
    
}

.flags-left {
    font-size: 50px;
}

.board-container-and-hints {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-inline: 44.5%;
}
.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}


.hint{
    background-color: yellow
}

.hints {
    display: flex;
    justify-content: flex-end;
    margin-right:400px;
    margin-top: 45px;
}


.hints button {
        text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 50px;
    margin-right: 25px;
    flex-direction: column;
    width: 5px;
    height: 20px;

}


.hints button span img {
    width: 70px; /* Adjust the width as needed */
}

.hints button.clicked {
    filter: invert(1);
    cursor: not-allowed;
}



.board-container table {
    /* width: auto; */
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(179, 179, 179);
}

.board-container td {
    border: 2px solid rgb(233 233 233);
    height: 25px;
    text-align: center;
    min-width: 25px;
    padding: 5px;
    box-shadow: inset -5px -6px 6px 0px #7e7a7a
}

.board-container td.clicked {
    background-color: rgba(222, 197, 31, 0.669); 
    cursor: none;
    /* box-shadow: none; */
}

.board-container td:hover {
    cursor: pointer;
    background-color: rgba(239, 202, 89, 0.548); 
   

    transition: background-color 0.5s ease;
    box-shadow: none;

}

.timer {
   
    font-size: 60px;
      /* WebKit browsers (Chrome, Safari) */
    
}
.tableScore {
    margin: 0 auto;
    width: 100%;
    text-align: left; 
    margin-inline: auto;
    font-family: 'Caveat';
    font-size: 50px;
}

.tableScore table {
    width: 30%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #280404;
    border-radius: 8px;
    margin-inline: auto;
    font-size: 50px;
}

.tableScore th, .tableScore td {
    border: 1px solid #280404;
    padding: 10px;
    text-align: center;
}

.tableScore th {
    background-color: #333;
    color: red;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.tableScore tr:nth-child(2n+1) td {
    background-color: #ff8317a5;
}

.tableScore tr:nth-child(2n) td {
    background-color: #ff4d17a5;
}

.tableScore td {
    font-size: 30px;
}

.tableScore td:nth-child(2) {
    width: 60%; /* Adjust the width as needed */
}

/* Style for the first column (left) */
.tableScore td:nth-child(1) {
    width: 20%; /* Adjust the width as needed */
}

/* Style for the third column (right) */
.tableScore td:nth-child(3) {
    width: 20%; /* Adjust the width as needed */
}


.img {
    width: 20px;
} 

